@import "./themes/mellow-space-theme.css";
@import "./themes/modules/modules_left.css";
@import "./themes/modules/modules_center.css";
@import "./themes/modules/modules_right.css";

window#waybar {
    border-radius: 10px;
    background: @bg;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}
* {
    font-family: inherit;
    color: @fnt;
    border-radius: 8px;
    margin: 2px;
    margin-top: 4px;
    margin-bottom: 4px;

}
tooltip {
    background: @bg;
}